* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#controlBar {
    position: absolute;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem;
}

#audioFileInput {}